/* line 372, sass/_variables.sass */
.fileUploadContainer { padding: 10px; }
/* line 374, sass/_variables.sass */
.fileUploadContainer .fileinput-button { border: 3px dashed white; }
/* line 376, sass/_variables.sass */
.fileUploadContainer .fileinput-button span { background-color: #1c4572; color: white; border: 1px solid white; display: block; margin: 10px auto; padding: 10px; text-align: center; width: 200px; }
/* line 385, sass/_variables.sass */
.fileUploadContainer .fileinput-button input { height: 100%; width: 100%; }
/* line 388, sass/_variables.sass */
.fileUploadContainer .fileinput-button.in { background-color: white; }
/* line 390, sass/_variables.sass */
.fileUploadContainer .fileinput-button.hover { background: white; }
/* line 392, sass/_variables.sass */
.fileUploadContainer .template-upload, .fileUploadContainer .template-download { display: none; }
/* line 395, sass/_variables.sass */
.fileUploadContainer .files .progress, .fileUploadContainer .fileupload-progress .progress { height: 10px; width: 90%; border: 1px solid white; margin: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 401, sass/_variables.sass */
.fileUploadContainer .files .progress .progress-bar, .fileUploadContainer .fileupload-progress .progress .progress-bar { background-color: #8b7b6a; height: 100%; width: 0px; }
/* line 405, sass/_variables.sass */
.fileUploadContainer .files .error, .fileUploadContainer .fileupload-progress .error { color: red; padding: 1px 10px; font-weight: bold; }
/* line 409, sass/_variables.sass */
.fileUploadContainer .files .template-upload, .fileUploadContainer .files .template-download, .fileUploadContainer .fileupload-progress .template-upload, .fileUploadContainer .fileupload-progress .template-download { display: block; background-color: rgba(184, 174, 163, 0.8); margin: 5px 0px; height: 50px; position: relative; }
/* line 415, sass/_variables.sass */
.fileUploadContainer .files .template-upload, .fileUploadContainer .fileupload-progress .template-upload { color: white; }
/* line 417, sass/_variables.sass */
.fileUploadContainer .files .template-upload .size, .fileUploadContainer .fileupload-progress .template-upload .size { margin: 5px 5px 10px 0px; float: right; }
/* line 420, sass/_variables.sass */
.fileUploadContainer .files .template-upload .filename, .fileUploadContainer .fileupload-progress .template-upload .filename { float: left; margin: 5px 0px 10px 5px; color: white; font-weight: bold; }
/* line 425, sass/_variables.sass */
.fileUploadContainer .files .template-upload .error, .fileUploadContainer .fileupload-progress .template-upload .error { margin-top: 5px; }
/* line 427, sass/_variables.sass */
.fileUploadContainer .files .template-upload .error:before, .fileUploadContainer .fileupload-progress .template-upload .error:before { clear: both; content: ""; display: block; float: none; }
/* line 433, sass/_variables.sass */
.fileUploadContainer .files .template-download .delete, .fileUploadContainer .fileupload-progress .template-download .delete { background-color: #1c4572; color: white; cursor: pointer; font-size: 1.2em; height: 17px; padding: 0 5px; right: 10px; width: 8px; line-height: 17px; position: relative; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); position: absolute; }
/* line 445, sass/_variables.sass */
.fileUploadContainer .files .template-download .previewImage, .fileUploadContainer .fileupload-progress .template-download .previewImage { float: left; margin: 0 10px 0 0; overflow: hidden; height: 100%; }
/* line 450, sass/_variables.sass */
.fileUploadContainer .files .template-download .filename, .fileUploadContainer .fileupload-progress .template-download .filename { line-height: 50px; color: white; font-weight: bold; }
/* line 454, sass/_variables.sass */
.fileUploadContainer .files .template-download img, .fileUploadContainer .fileupload-progress .template-download img { height: 100%; }
/* line 17, sass/_variables.sass */
.fileUploadContainer .files .template-download img:after, .fileUploadContainer .fileupload-progress .template-download img:after { content: ""; display: block; clear: both; float: none; }

/* line 3, sass/ck.sass */
body { font-family: "Noto Sans", sans-serif; font-size: 1.2em; color: white; background: transparent; }
