/* line 4, sass/general.sass */
html { height: 100%; line-height: 1.3em; }

/* line 8, sass/general.sass */
body { margin: 0px; padding: 0px; height: 100%; background-color: #e7f4fe; font-family: "Verdana"; line-height: 1.3em; font-size: 13px; }

/* line 17, sass/general.sass */
h1, h2, h3, legend { font-size: 25px; font-family: "Cantora One"; line-height: 1.3em; }

/* line 22, sass/general.sass */
#container { width: 100%; background: url(/img/elements/bg.png) 0px 150px no-repeat 100%; }

/* line 28, sass/general.sass */
form li { width: 100%; margin: 10px 0px; text-align: right; }
/* line 32, sass/general.sass */
form li.hidden { display: none; }
/* line 34, sass/general.sass */
form li.field:after { content: ""; display: block; width: 100%; border-bottom: 1px dashed #4b7ea5; margin: 10px 0px; }
/* line 40, sass/general.sass */
form li.fieldset:after { border: none; }
/* line 42, sass/general.sass */
form li.submit { text-align: center; }
/* line 44, sass/general.sass */
form li.submit input { width: 170px; }
/* line 46, sass/general.sass */
form li.field ul.errors { color: #aa0000; font-weight: bold; width: 100%; }
/* line 50, sass/general.sass */
form li.captcha img { vertical-align: middle; }
/* line 52, sass/general.sass */
form li.textarea label, form li.upload label { display: block; margin-left: 0px; margin-bottom: 5px; text-align: left; width: 100%; }
/* line 58, sass/general.sass */
form li input, form li textarea, form li select { width: 250px; padding: 8px 15px; font-size: 16px; border: none; background-color: #4b7ea5; color: white; margin-left: 10px; }
/* line 66, sass/general.sass */
form li input[type=submit] { cursor: pointer; }

/* line 72, sass/general.sass */
div.flash { border: 2px solid white; border-top-width: 0px; left: 50%; margin-left: -470px; position: fixed; text-align: center; top: 0; width: 750px; overflow: hidden; box-shadow: 0px 0px 10px #888888; margin-top: -100px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-border-radius-bottomleft: 15px; -webkit-border-bottom-left-radius: 15px; border-bottom-left-radius: 15px; -moz-border-radius-bottomright: 15px; -webkit-border-bottom-right-radius: 15px; border-bottom-right-radius: 15px; -webkit-transition: opacity 3s, margin-top 1s; -moz-transition: opacity 3s, margin-top 1s; -o-transition: opacity 3s, margin-top 1s; transition: opacity 3s, margin-top 1s; }
/* line 87, sass/general.sass */
div.flash.visible { margin-top: 0px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; -webkit-transition: opacity 3s, margin-top 1s; -moz-transition: opacity 3s, margin-top 1s; -o-transition: opacity 3s, margin-top 1s; transition: opacity 3s, margin-top 1s; }
/* line 91, sass/general.sass */
div.flash .close { color: white; font-weight: bold; border: 1px solid white; border-radius: 10px; height: 20px; padding: 1px 6px; position: absolute; right: 8px; top: 6px; width: 20px; cursor: pointer; -webkit-box-sizing: padding-box; -moz-box-sizing: padding-box; box-sizing: padding-box; }
/* line 104, sass/general.sass */
div.flash ul { width: 100%; height: 100%; padding: 10px; }
/* line 108, sass/general.sass */
div.flash ul.message { color: white; font-weight: bold; background-color: #006600; }
/* line 112, sass/general.sass */
div.flash ul.error { color: white; font-weight: bold; background-color: #aa0000; }

/* line 118, sass/general.sass */
div.header { box-shadow: 0 -41px 10px -30px #d6e8f7 inset; border-bottom: 1px solid white; height: 150px; }
/* line 122, sass/general.sass */
div.header .headerInner { width: 960px; margin: auto; }
/* line 125, sass/general.sass */
div.header .logo { display: none; float: left; margin: 10px; }
/* line 129, sass/general.sass */
div.header h1 { color: #ffa4a4; line-height: 95px; }

/* line 133, sass/general.sass */
ul.navigation { width: 960px; margin: auto; height: 35px; padding: 10px; }
/* line 13, sass/mixins.sass */
ul.navigation:after { content: ""; display: block; clear: both; float: none; }
/* line 139, sass/general.sass */
ul.navigation li { width: 120px; float: left; padding: 7px 10px; text-align: center; position: relative; }
/* line 25, sass/mixins.sass */
ul.navigation li.active:after { border-bottom: 10px solid #ffa4a4; border-left: 10px solid rgba(0, 0, 0, 0); border-right: 10px solid rgba(0, 0, 0, 0); bottom: -12px; content: ""; height: 0; left: 65px; margin-right: -25px; position: absolute; width: 0; }
/* line 147, sass/general.sass */
ul.navigation li:hover { background-color: rgba(128, 128, 128, 0.07); }
/* line 149, sass/general.sass */
ul.navigation li:hover a { color: #ffa4a4; }
/* line 151, sass/general.sass */
ul.navigation li a { font-family: "Cantora One"; font-size: 20px; text-decoration: none; color: #4b7ea5; text-shadow: 2px 2px 1px white; }

/* line 159, sass/general.sass */
div.subheader { border-bottom: 1px dashed #4b7ea5; border-top: 1px solid #ffa4a4; height: 50px; margin: -1px auto auto; width: 960px; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; border-top-left-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; border-top-right-radius: 10px; }
/* line 166, sass/general.sass */
div.subheader ul li { width: 150px; }
/* line 168, sass/general.sass */
div.subheader ul li.active:after { bottom: -10px; left: 75px; }
/* line 171, sass/general.sass */
div.subheader ul li a { font-size: 16px; }

/* line 175, sass/general.sass */
div.content { width: 940px; padding: 30px 10px; margin: auto; }
/* line 179, sass/general.sass */
div.content:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

/* line 187, sass/general.sass */
div.usermenu { border: 2px solid white; border-top: none; left: 50%; margin-left: 300px; padding: 10px 10px 0px; position: absolute; top: 0; width: 160px; background-color: #4b7ea5; -moz-border-radius-bottomleft: 15px; -webkit-border-bottom-left-radius: 15px; border-bottom-left-radius: 15px; -moz-border-radius-bottomright: 15px; -webkit-border-bottom-right-radius: 15px; border-bottom-right-radius: 15px; }
/* line 198, sass/general.sass */
div.usermenu .loginreg { overflow: hidden; height: 0px; -webkit-transition: height 1s; -moz-transition: height 1s; -o-transition: height 1s; transition: height 1s; }
/* line 202, sass/general.sass */
div.usermenu a { color: white; display: block; font-weight: bold; margin-left: -10px; padding-bottom: 10px; text-align: center; text-decoration: none; width: 180px; }
/* line 211, sass/general.sass */
div.usermenu a.account { text-align: left; margin-left: 10px; }
/* line 214, sass/general.sass */
div.usermenu a.logout { background-image: url("/img/elements/logout.png"); background-size: cover; height: 20px; overflow: hidden; position: absolute; right: 10px; text-indent: -10000px; top: 8px; width: 20px; margin: 0px; padding: 0px; }
/* line 226, sass/general.sass */
div.usermenu a.registration { color: white; display: block; text-align: center; margin: 0px; width: 100%; }
/* line 233, sass/general.sass */
div.usermenu .loginreg form { width: 100%; margin: 0px; }
/* line 237, sass/general.sass */
div.usermenu .loginreg form li.field { width: 160px; margin: 4px 0px; }
/* line 240, sass/general.sass */
div.usermenu .loginreg form li.field:after { border-color: white; margin: 3px 0px; }
/* line 243, sass/general.sass */
div.usermenu .loginreg form li.submit:after { border: none; margin: 0px; }
/* line 246, sass/general.sass */
div.usermenu .loginreg form li label { display: none; }
/* line 248, sass/general.sass */
div.usermenu .loginreg form li input { font-size: 12px; padding: 2px; width: 100%; background-color: white; margin: 0px; color: #4b7ea5; }
/* line 255, sass/general.sass */
div.usermenu.opened .loginreg { height: 111px; transition: height 1s; }

/* line 262, sass/general.sass */
.fileUploadContainer .fileinput-button { border: 3px dashed white; height: 60px; }
/* line 265, sass/general.sass */
.fileUploadContainer .fileinput-button span { background-color: #4b7ea5; color: white; border: 1px solid white; display: block; margin: 10px auto; padding: 10px; text-align: center; width: 200px; }
/* line 274, sass/general.sass */
.fileUploadContainer .fileinput-button input { height: 100%; width: 100%; }
/* line 277, sass/general.sass */
.fileUploadContainer .fileinput-button.in { background-color: white; }
/* line 279, sass/general.sass */
.fileUploadContainer .fileinput-button.hover { background: white; }
/* line 281, sass/general.sass */
.fileUploadContainer .template-upload, .fileUploadContainer .template-download { display: none; }
/* line 284, sass/general.sass */
.fileUploadContainer .files .progress, .fileUploadContainer .fileupload-progress .progress { height: 20px; width: 100%; border: 1px solid white; }
/* line 288, sass/general.sass */
.fileUploadContainer .files .progress .progress-bar, .fileUploadContainer .fileupload-progress .progress .progress-bar { background-color: #4b7ea5; height: 100%; width: 0px; }
/* line 292, sass/general.sass */
.fileUploadContainer .files .template-upload, .fileUploadContainer .files .template-download, .fileUploadContainer .fileupload-progress .template-upload, .fileUploadContainer .fileupload-progress .template-download { display: block; }
/* line 294, sass/general.sass */
.fileUploadContainer .files .template-upload .file, .fileUploadContainer .files .template-download .file, .fileUploadContainer .fileupload-progress .template-upload .file, .fileUploadContainer .fileupload-progress .template-download .file { border: 1px solid white; border-radius: 10px; box-shadow: 0 0 5px #888888; margin: 5px; padding: 10px; height: 50px; position: relative; }
/* line 303, sass/general.sass */
.fileUploadContainer .files .template-upload .size, .fileUploadContainer .fileupload-progress .template-upload .size { float: right; margin-bottom: 10px; }
/* line 306, sass/general.sass */
.fileUploadContainer .files .template-upload .filename, .fileUploadContainer .fileupload-progress .template-upload .filename { float: left; margin-bottom: 10px; }
/* line 309, sass/general.sass */
.fileUploadContainer .files .template-upload .error, .fileUploadContainer .fileupload-progress .template-upload .error { margin-top: 5px; }
/* line 311, sass/general.sass */
.fileUploadContainer .files .template-upload .error:before, .fileUploadContainer .fileupload-progress .template-upload .error:before { clear: both; content: ""; display: block; float: none; }
/* line 317, sass/general.sass */
.fileUploadContainer .files .template-download .delete, .fileUploadContainer .fileupload-progress .template-download .delete { background-color: #ffa4a4; border-radius: 5px; color: white; cursor: pointer; font-size: 12px; height: 17px; line-height: 16px; padding: 0 5px; position: absolute; right: 10px; top: 10px; width: 8px; }
/* line 330, sass/general.sass */
.fileUploadContainer .files .template-download .previewImage, .fileUploadContainer .fileupload-progress .template-download .previewImage { border-radius: 5px; float: left; height: 50px; margin: 0 10px 0 0; overflow: hidden; width: 50px; }
/* line 337, sass/general.sass */
.fileUploadContainer .files .template-download .filename, .fileUploadContainer .fileupload-progress .template-download .filename { line-height: 50px; }
/* line 339, sass/general.sass */
.fileUploadContainer .files .template-download img, .fileUploadContainer .fileupload-progress .template-download img { height: 100%; border-radius: 5px; }
/* line 13, sass/mixins.sass */
.fileUploadContainer .files .template-download img:after, .fileUploadContainer .fileupload-progress .template-download img:after { content: ""; display: block; clear: both; float: none; }

/* line 345, sass/general.sass */
.footer { clear: both; }
