/* line 519, ../sass/general/_variables.sass */
.fileUploadContainer {
  padding: 10px;
}
/* line 521, ../sass/general/_variables.sass */
.fileUploadContainer .fileinput-button {
  border: 3px dashed #f8f4ef;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
/* line 524, ../sass/general/_variables.sass */
.fileUploadContainer .fileinput-button:hover {
  background-color: rgba(248, 244, 239, 0.5);
  -moz-box-shadow: 0 0 5px #f8f4ef;
  -webkit-box-shadow: 0 0 5px #f8f4ef;
  box-shadow: 0 0 5px #f8f4ef;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
/* line 528, ../sass/general/_variables.sass */
.fileUploadContainer .fileinput-button span {
  background-color: #76a0ce;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  display: block;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 200px;
}
/* line 537, ../sass/general/_variables.sass */
.fileUploadContainer .fileinput-button input {
  height: 100%;
  width: 100%;
}
/* line 540, ../sass/general/_variables.sass */
.fileUploadContainer .fileinput-button.in {
  background-color: #f8f4ef;
}
/* line 542, ../sass/general/_variables.sass */
.fileUploadContainer .fileinput-button.hover {
  background: #f8f4ef;
}
/* line 544, ../sass/general/_variables.sass */
.fileUploadContainer .template-upload, .fileUploadContainer .template-download {
  display: none;
}
/* line 547, ../sass/general/_variables.sass */
.fileUploadContainer .files .progress, .fileUploadContainer .fileupload-progress .progress {
  height: 10px;
  width: 90%;
  border: 1px solid #f8f4ef;
  margin: auto;
}
/* line 552, ../sass/general/_variables.sass */
.fileUploadContainer .files .progress .progress-bar, .fileUploadContainer .fileupload-progress .progress .progress-bar {
  background-color: #8b7b6a;
  height: 100%;
  width: 0px;
}
/* line 556, ../sass/general/_variables.sass */
.fileUploadContainer .files .error, .fileUploadContainer .fileupload-progress .error {
  color: red;
  padding: 1px 5px;
  font-weight: bold;
  font-size: 1em;
}
/* line 561, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-upload, .fileUploadContainer .files .template-download, .fileUploadContainer .fileupload-progress .template-upload, .fileUploadContainer .fileupload-progress .template-download {
  display: block;
  background-color: #f8f4ef;
  margin: 5px 0.5%;
  position: relative;
  float: left;
  height: 130px;
  width: 19%;
}
/* line 569, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-upload, .fileUploadContainer .fileupload-progress .template-upload {
  color: #2b2b2b;
}
/* line 571, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-upload .size, .fileUploadContainer .fileupload-progress .template-upload .size {
  margin: 5px 5px 10px 0px;
  float: right;
}
/* line 574, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-upload .filename, .fileUploadContainer .fileupload-progress .template-upload .filename {
  display: none;
}
/* line 576, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-upload .cancel, .fileUploadContainer .fileupload-progress .template-upload .cancel {
  background-color: #76a0ce;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.2em;
  height: 17px;
  left: 0;
  line-height: 17px;
  padding: 0 5px;
  position: absolute;
  top: 0;
  width: 16px;
  opacity: 0.7;
}
/* line 589, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-upload .cancel:hover, .fileUploadContainer .fileupload-progress .template-upload .cancel:hover {
  opacity: 1;
}
/* line 591, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-upload .error, .fileUploadContainer .fileupload-progress .template-upload .error {
  margin-top: 5px;
}
/* line 593, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-upload .error:before, .fileUploadContainer .fileupload-progress .template-upload .error:before {
  clear: both;
  content: "";
  display: block;
  float: none;
}
/* line 599, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-download .delete, .fileUploadContainer .fileupload-progress .template-download .delete {
  background-color: #76a0ce;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.2em;
  height: 17px;
  left: 0;
  line-height: 17px;
  padding: 0 5px;
  position: absolute;
  top: 0;
  width: 16px;
  opacity: 0.7;
}
/* line 612, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-download .delete:hover, .fileUploadContainer .fileupload-progress .template-download .delete:hover {
  opacity: 1;
}
/* line 614, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-download .move, .fileUploadContainer .fileupload-progress .template-download .move {
  background-color: #76a0ce;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.2em;
  height: 17px;
  right: 0;
  line-height: 17px;
  padding: 0 5px;
  position: absolute;
  top: 0;
  width: 16px;
  opacity: 0.7;
  background-image: url(/img/elements/move.png);
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 630, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-download .move:hover, .fileUploadContainer .fileupload-progress .template-download .move:hover {
  opacity: 1;
}
/* line 632, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-download .previewImage, .fileUploadContainer .fileupload-progress .template-download .previewImage {
  margin: 0 5px;
  overflow: hidden;
  height: 100%;
}
/* line 636, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-download .filename, .fileUploadContainer .fileupload-progress .template-download .filename {
  display: none;
}
/* line 638, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-download img, .fileUploadContainer .fileupload-progress .template-download img {
  width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 29, ../sass/general/_variables.sass */
.fileUploadContainer .files .template-download img:after, .fileUploadContainer .fileupload-progress .template-download img:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

@-webkit-keyframes bounce_loadingProgressG {
  0% {
    margin-left: -256px;
  }
  100% {
    margin-left: 256px;
  }
}
@keyframes bounce_loadingProgressG {
  0% {
    margin-left: -256px;
  }
  100% {
    margin-left: 256px;
  }
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
@-webkit-keyframes rotatebounce {
  0%, 40%, 100% {
    -webkit-transform: rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
  }
  60% {
    -webkit-transform: rotateZ(-10deg);
  }
}
@keyframes rotatebounce {
  0%, 40%, 100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
  }
  60% {
    transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
  }
}
/* line 5, ../sass/ck.sass */
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
  background: transparent;
}
