@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic&subset=latin,latin-ext");
@-webkit-keyframes bounce_loadingProgressG {
  0% {
    margin-left: -256px;
  }
  100% {
    margin-left: 256px;
  }
}
@keyframes bounce_loadingProgressG {
  0% {
    margin-left: -256px;
  }
  100% {
    margin-left: 256px;
  }
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
@-webkit-keyframes rotatebounce {
  0%, 40%, 100% {
    -webkit-transform: rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
  }
  60% {
    -webkit-transform: rotateZ(-10deg);
  }
}
@keyframes rotatebounce {
  0%, 40%, 100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
  }
  60% {
    transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
  }
}
@keyframes fade-out {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}
@font-face {
  font-family: "csakbaba";
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/csakbaba.eot);
  src: url(/fonts/csakbaba.eot#iefix) format("embedded-opentype"), url(/fonts/csakbaba.woff) format("woff"), url(/fonts/csakbaba.ttf) format("truetype"), url(/fonts/csakbaba.svg) format("svg");
}
/* line 46, ../sass/general/_typo.sass */
body {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: normal;
}

/* line 51, ../sass/general/_typo.sass */
h1 {
  font-size: 2rem;
}

/* line 54, ../sass/general/_typo.sass */
h2 {
  font-size: 1.5rem;
}

/* line 57, ../sass/general/_typo.sass */
h3 {
  font-size: 1.2rem;
}

/* line 60, ../sass/general/_typo.sass */
input, textarea {
  font-family: "Open Sans", sans-serif;
}

/* line 62, ../sass/general/_typo.sass */
a {
  text-decoration: none;
}
/* line 64, ../sass/general/_typo.sass */
a:visited {
  color: #1a1a1a;
}

/* line 16, ../sass/email.sass */
div.container {
  background-color: #e5d6c6;
  color: #000000;
  line-height: 20px;
  font-size: 13px;
  background-image: url("http://csakbaba.hu/img/elements/bg.png");
  background-repeat: repeat;
}

/* line 24, ../sass/email.sass */
h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

/* line 26, ../sass/email.sass */
.header {
  height: 85px;
  background-image: url("http://csakbaba.hu/img/elements/logoemail.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-color: #8b7b6a;
  padding-left: 130px;
  line-height: 85px;
  font-size: 10px;
  color: #FFFFFF;
  border-bottom: 2px solid #76a0ce;
}

/* line 38, ../sass/email.sass */
.content {
  padding: 15px;
}
/* line 40, ../sass/email.sass */
.content a, .content p, .content strong {
  font-size: 14px;
  line-height: 20px;
  color: #2b2b2b;
  margin: 0px;
}
/* line 45, ../sass/email.sass */
.content strong {
  font-weight: bold;
}
/* line 47, ../sass/email.sass */
.content a, .content a:visited {
  color: #76a0ce;
  text-decoration: none;
}
/* line 51, ../sass/email.sass */
.content h2 {
  font-size: 12px;
}

/*# sourceMappingURL=email.css.map */
