@charset "UTF-8"
.blogContent
  margin: 10px 5%
  //float: left
  +clearFix

  .postItem
    padding: 3%
    background-color: rgba(255, 255, 255, 0.5)
    margin-bottom: 3%
    +clearFix
    h2 a
      color: $cBlogHeaderColor
      font-style: italic
      +transition(0.6s)
      &:hover
        color: darken($cBlogHeaderColor,35%)
        +transition(0.6s)

    time
      float: right
      width: 100%
      font-style: italic
      font-weight: bold
      text-align: right
      border-bottom: 2px solid $cBlogHeaderBorder
      padding-bottom: 1%
    .body
      float: left
      width: 100%
      padding-top: 2%
    img
      margin: 20px
      float: left
      width: auto !important
      max-width: 50% !important
      height: auto !important
      +mq2
        margin: 20px auto
        display: block
        float: none
        max-width: 100% !important

    em
      font-style: italic

    &.index
      img:first-of-type
        margin-top: 0px

    &:not(.index)
      h2
        margin-top: 20px
        text-align: left
        font-weight: normal
      h1
        font-size: 3rem

.blogSidebar
  float: left
  width: 30%
  padding: 3%
  margin-top: 10px
  background-color: rgba(255, 255, 255, 0.5)

.stat , .blogContent .postItem
  h1
    font-size: 2.2rem
    text-align: center
    padding-bottom: 3%
    font-weight: bold
    text-shadow: 0 1px 0 rgba(255,255,255,.5)
  h2
    font-size: 2rem
    text-align: center
    padding-bottom: 2%
    font-weight: bold
    text-shadow: 0 1px 0 rgba(255,255,255,.5)
  h3
    font-size: 1.7rem
    text-align: left
    padding-bottom: 1%
    font-weight: bold
    text-shadow: 0 1px 0 rgba(255,255,255,.5)
  p, li
    font-size: 1.6rem
    line-height: 2.2rem
    padding-bottom: 1%
    text-align: justify
    text-shadow: 0 1px 0 rgba(255,255,255,.5)

  ol
    list-style: decimal
    padding-left: 3%
    text-shadow: 0 1px 0 rgba(255,255,255,.5)
    li
      margin-bottom: 1%


  ul
    text-shadow: 0 1px 0 rgba(255,255,255,.5)
    li
      background-image: url(/img/elements/ulbg.png)
      background-repeat: no-repeat
      background-size: auto
      padding-left: 15px
      margin-bottom: 1%

  ol.standard
    list-style: decimal
    padding-left: 3%
    text-shadow: 0 1px 0 rgba(255,255,255,.5)
    li
      margin-bottom: 1%

  blockquote
    background: rgba($cBlogQuotes,0.4)
    border-left: 10px solid rgba($cBlogQuotes,0.5)
    margin: 1.5rem 10px
    padding: 0.5rem 10px
    quotes: "\201C""\201D""\2018""\2019"
    font-size: 1.4rem
    text-shadow: 0 1px 0 rgba(255,255,255,.5)

  blockquote:before
    color: $cBlogQuotes
    content: open-quote
    font-size: 4rem
    line-height: 0.1rem
    margin-right: 0.25rem
    vertical-align: -0.4rem

  blockquote p
    display: inline

  strong
    font-weight: bold