#container.contact
  .contactForm
    width: 80%
    margin: auto
    padding: 50px
    background-color: rgba($cWhite, 0.5)
  form
    +form
    li.textarea textarea
      height: 100px !important
    li.field.captcha img
      width: auto
      margin: auto