.profile
  .profileFilter
    +tab



.profile
  .userData
    +clearFix
    .avatarInfo
      width: 50%
      float: left
      +mq1
        width: percentage(1/3)
      +mq3
        width: 100%
        float: none
    .avatar
      width: 50%
      float: left
      padding: 0px 2%
      margin-top: 10px
      +box-sizing(border-box)
      +mq1
        float: none
        width: 100%
      img
        width: 100%
        border: 2px solid darken($col1 ,20%)
    .info
      width: 50%
      float: left
      padding: 0px 2%
      margin-top: 10px
      +box-sizing(border-box)
      +clearFix
      +mq1
        float: none
        width: 100%
    .desc
      width: 45%
      float: left
      +box-sizing(border-box)
      +mq1
        width: percentage(2/3)
      +mq3
        width: 100%
        float: none


    .username , .gender , .city , .rating, .regdate
      font-size: 1.5em
      float: left
      width: 75%
      padding: 1%
      margin-bottom: 20px
      +box-sizing(border-box)
    .username
      font-size: 2em
      text-align: center
      font-weight: bold

    strong
      font-weight: bold
    .ratingContainer
      margin: 1%
      height: 25px
      width: 125px
      background-image: url('../img/elements/rating_bg.png')
      background-repeat: repeat-x
      margin-top: 5px
      .ratingInner
        height: 25px
        background-image: url('../img/elements/rating2_bg.png')
        background-repeat: repeat-x


